.reveal .html-demo,
.html-demo {
    table {
        width: 80%;
        margin: auto;
    }
    table, td, th {
        border: 1px solid $mainColor;
        text-align: center;
    }

    &.lists {
        .three-columns { margin-top: 50px; }
    }

    form {

        padding: 20px 0;

        output[name="result"] {
            display: inline-block;
            width: 3em;
        }

        input {
            font-size: 0.8em;
        }
    }

    input.validate {
        &:invalid {
            background-color: red;
        }
        &:valid {
            background-color: #aed679;
        }
    }

    &.html-forms {
        form {margin: 0; padding: 0;}
        pre code {font-size: 1em;}
    }
}
